@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
}
.background{
    background-image: url(./image/bg\ image.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 852px;
}
header {
    display: flex;
    justify-content: space-between;
}
.logo {
    margin-left: 2.7777777777777777vw;
    color: #FFFFFF;
    font-size: 28px;
    font-family: "Montserrat";
    letter-spacing: 0.1em;
    font-weight: 800;
    margin-top: 23px;
    margin-right: 51.80555555555556vw;
}
.menu {
    display: flex;
    list-style: none;
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 500;
    margin-top: 29px;
}
li {
    margin-right: 60px;
}
.burger {
    display: none;
}
.title {
    color: white;
    font-size: 150px;
    font-family: "Montserrat";
    font-weight: 400;
    letter-spacing: 0.3em;
}
a {
    color: #FFFFFF;
    text-decoration: none;
}
a:hover {
    color: #D28888
}
.mountains {
    color: white;
    font-family: "Montserrat";
    font-size: 28px;
    letter-spacing: 0.2em;
    font-weight: 400;
    margin-top: 70px;
}
.discription {
    display: flex;
    background-color: black;
    width: 100vw;
    margin: 0 auto;
}
.text{
    color: white;
    margin-left: 13.055555555555557vw;
    margin-top: 116px;
    font-family: "Montserrat";
    width: 24.166666666666668vw;
    height: 360px;
}
.words {
    font-size: 18px;
    letter-spacing: 0.1em;
    margin-top: 37px;
}
.content {
    display: flex;
}
.pics {
    display: flex;
    flex-direction: column;
    margin-top: 116px;
    margin-left: 10.902777777777779vw;
    margin-bottom: 167px;
}
.photo {
    margin-top: 116px;
    margin-left: 1.7361111111111112vw;
}
.sunset {
    margin-bottom: 22px;
}
.travel {
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 0.1em;
   
}
.subscribe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 625px;
    background-image: url(./image/bg\ 2.png);
    background-repeat: no-repeat;
    background-size: cover;

}
.sub {
    color: white;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 0.1em;
    margin-top: 92px;
}
.letter {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.1em;
    margin-top: 34px;
    margin-left: 25vw;
    margin-right: 25vw;
    text-align: center;
}
input[type="email"]{
    border: none;
    appearance: none;
    background-color: transparent;
    border-bottom: 1px solid white;
    color: white;
    font-size: 18px;
    width: 20.27777777777778vw;
}
input::placeholder{
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.1em;
}
.subscribe input{
    margin-top: 100px;
    padding-bottom: 14px;
}
.subscription {
    width: 200px;
    height: 64px;
    background-color: black;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.1em;
    color: white;
    border: none;
    margin-top: 25px;
}
.subscription:hover {
    background-color: #2B2B2B;
    ;
}
.subscription:active {
    background-color: #AF2A2A;
}
footer {
    width: 100vw;
    height: 89px;
    background-color: black;
    display: flex;
    justify-content: space-between;
}
.trvl {
    color: white;
    font-size: 28px;
    font-weight: 800;
    letter-spacing: 0.1em;
    margin-top: 28px;
}
.socialmedia {
    margin-top: 33px;
    margin-left: 2.7777777777777777vw;
}
.mail {
    margin-top: 35px;
    margin-right: 2.7777777777777777vw;
}
.insta {
    margin-right: 1.5277777777777777vw;
}
.fb {
    margin-right: 1.5277777777777777vw;
}
.insta:hover path{
    fill: #D28888;
    transform: scale(0.94);
}
.insta:active path{
    fill: #AF2A2A
}
.fb:hover path{
    fill: #D28888;
    transform: scale(0.94);
}
.fb:active path{
    fill: #AF2A2A
}
.twitter:hover path{
    fill: #D28888;
    transform: scale(0.94);
}
.twitter:active path{
    fill: #AF2A2A
}
@media screen and (max-width: 1200px) {
    .title{
        font-size: 90px;
    }
    .discription{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .text {
        align-items: center;
        margin-left: 0;
        width: 591px;
    }
    .content {
        align-items: center;
    }
    .pics{
        margin-top: 0;
        margin-bottom: 60px;
        margin-left: 0;
    }
    .photo {
        margin-top: 0;
        margin-bottom: 60px;
    }
    .menu {
        display: none;
    }
    .burger {
        display: block;
        margin-top: 30px;
        margin-right: 46px;
    }
}
@media screen and (max-width: 800px){
    .title {
        font-size: 40px;
    }
    .mountains {
        font-size: 18px;
    }
    .text{
        width: 292px;
    }
    .travel {
        font-size: 28px;
    }
    .words {
        font-size: 16px;
    }
    .content{
        display: flex;
        flex-direction: column;
    }
    .sunset {
        width: 292px;
    }
    .mountain {
        width: 292px;
    }
    .pik {
        width: 292px;
    }
    .pics {
        margin-bottom: 22px;
        margin-top: 47px;
    }
    .photo {
        margin-left: 0;
        margin-top: 0;
    }
    footer {
        width: 100vw;
        height: 213px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .socialmedia {
        margin-left: 0;
    }
    .mail {
        margin-right: 0;
    }
    .subscription{
        margin-top: 0;
    }
   
}